<th:block th:fragment>

    <a href="#" style="float: right; background-color: inherit; padding: 15px 20px" class="btn btn-default" data-toggle="modal" data-target="#loginModal">
                            <span>
                                вход
                               <i class="fa fa-sign-in"></i>
                            </span>
    </a>

    <a href="#" style="float: right; background-color: inherit; padding: 15px 20px" class="btn btn-default" data-toggle="modal" data-target="#registerModal">
                            <span>
                                регистрация
                               <i class="fa fa-user-plus"></i>
                            </span>
    </a>

</th:block>