<!-- top header -->
<th:block th:fragment="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12"><a class="logo" th:href="@{/}"><img src="https://res.cloudinary.com/cardiohristov/image/upload/v1547462841/logo.png" alt=""></a> </div>
            <div class="col-md-9 hidden-sm hidden-xs">
                <div class="top-link">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="glyphicon glyphicon-time"></i>Вторник 8:00 ч. - 18:00 ч  <div>Четвъртък 14:00 ч. - 18:00 ч.</div>
                        </div>
                        <div class="col-md-3">
                            <i class="glyphicon glyphicon-phone"></i> <a th:href="@{/contactUs}">+359 88 338 7951</a>
                        </div>
                        <div class="col-md-3">
                            <i class="glyphicon glyphicon-envelope"></i> <a th:href="@{/contactUs}">hristov@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<!-- top header -->